.custom-card-title {
    font-size: 20px; /* Aumente o tamanho da fonte */
    padding: 16px; /* Aumente o padding para dar mais espaço */
    background-color: #f0f0f0; /* Alterar cor de fundo para destacar */
    border-bottom: 1px solid #e8e8e8; /* Linha inferior opcional */
  }
  